################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore all bin/ directories
**/bin/

# Ignore all obj/ directories
**/obj/
/DotNetCoreTesting/bin/Debug/net8.0/DotNetCoreTesting.dll
/DotNetCoreTesting/bin/Debug/net8.0/DotNetCoreTesting.exe
