################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Ignore all bin/ directories
**/bin/

# Ignore all obj/ directories
**/obj/