################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetCoreTesting/obj/DotNetCoreTesting.csproj.nuget.dgspec.json
/DotNetCoreTesting/obj/project.assets.json
/DotNetCoreTesting/obj/project.nuget.cache
/DotNetCoreTesting/obj/Debug/net8.0/ref/DotNetCoreTesting.dll
